
body{
		background-image: url("background_login.jpg");
		
		background-repeat: no-repeat;
		background-size: 100% 720px;
}
	
.background-white{
	background-color: white;
}

.white{
	color: white;
}